<div id="<%= dom_id website %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= website.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Domain name:</strong>
    <%= website.domain_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= website.content %>
  </div>
</div>
